body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #7ea4a5;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #fbfcfc;
}

form {
  background-color: #ffffff;
  border: 2px solid #0077cc;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.decorativa {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#respuesta {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}